/*
-----------------------------------------------------
HEADER
-----------------------------------------------------
*/

body > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background: $white;
    @include box-shadow(0, 2px, 5px, rgba(0, 0, 0, 0.2));

    .logo {
        font-size: 16px;
        color: $blue;
        line-height: $header-height;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    + main {
        padding-top: $header-height;
    }
}