/*
-----------------------------------------------------
HOMEPAGE
-----------------------------------------------------
*/

.box-homepage {
    width: 200px;
    height: 100%;
    text-align: center;
    position: relative;

    .wrapper {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: $white;
        border: 10px solid $gray;
        box-sizing: border-box;
        transition: all 400ms ease-in;
        @include center-absolute();

        &:hover {
            background-color: $blue;
            border-color: $white;
            color: $white;
        }

        &:after {
            font-size: 15px;
        }

        .start {
            cursor: pointer;
            width: 100%;
            height: 100%;
            @include center-absolute();

            > input {
                display: none;
            }

            > span {
                font-size: 30px;
                font-weight: 100;
                @include center-absolute();
            }
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 500px;
        height: 50px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $gray-dark;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        p {
            text-align: center;
            color: $white;
            font-size: 15px;
            line-height: 50px;
            margin: 0;
            font-weight: 100;

            strong {
                font-weight: 500;
            }

            .restart {
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}